{% include 'admin_header.html'%}

<section id="facts"  class="wow fadeIn">
      <div class="container">

        <header class="section-header">
<br><br><br>
<center>
	<h1 style="color: ">View Customer</h1>
	<table class="table" style="width: 500px;color: ">
		<tr>
			<th>Slno</th>
			<th>First Name</th>
	
		<th>title</th>
		<th>description</th>
		<th>Reply</th>
		<th>date & time</th>
		<th>department name</th>
			

		</tr>
		{% for row in data['pay']%}
		<tr>
			<td>{{loop.index}}</td>
			<td>{{row['first_name']}}</td>
		
			<td>{{row['title']}}</td>
			<td>{{row['description']}}</td>
				
			<td>{{row['reply']}}</td>
			<td>{{row['date_time']}}</td>
			<td>{{row['dept_name']}}</td>
			
			

		</tr>

		{%endfor %}
	</table>
</center>
</header></div></section>
 
{% include 'footer.html'%}