   {% include 'public_header.html'%}

 <section id="facts"  class="wow fadeIn" >
      <div class="container" style="height: 700px">

        <header class="section-header">
                    <center>
	<h2 style="color: ">Login</h2>
	<form method="post">
		<table class="table" style="width: 500px;color: ">
			<tr>
				<th>User Name</th>
				<td><input type="text" class="form-control" required=""  name="uname"></td>
			</tr>
			<tr>
				<th>Password</th>
				<td><input type="password" class="form-control" required=""  name="pwd"></td>
			</tr>
			<tr>
				<td align="center" colspan="2"><input type="submit" class="btn btn-success" name="login"></td>
			</tr>
		</table>
	</form>
</center> 
          
 </header></div></section>

                              
          
          {% include 'footer.html'%}             